set_io              led1    118
set_io              led2    116

set_io -pullup yes  s1_n    102
set_io -pullup yes  s2_n    105

# Yosys warns that specifying a pullup here might not work on an inout port

#set_io              d_out   143    # pin 143 is on bank 0
set_io -pullup yes  d_out   143    # pin 143 is on bank 0
